section.burger
  h2.burger-title
    | 新鮮採れたて野菜が
    br
    | 美味しいハンバーガー

  figure.burger-photo
    img(src="img/burger.jpg", alt="")
    
  div.burger-text
    p 肉汁たっぷりなお肉と新鮮な野菜を一緒に楽しむなら、ここのハンバーガーが一押しです。トマトにレタス、キュウリ、玉ねぎ、アボガド、ピクルスなどなど、いろいろな野菜が用意されていて、好きなものを組み合わせてオリジナルのバーガーを作ることもできます。その時々の旬な野菜もラインナップに並びますので、季節の変わり目ごとに訪れるのも楽しみの１つです。
    p 北海道産の小麦で作った焼き立てバンズも、お肉や野菜のジューシーな旨味を引き出してくれます。
    p スペシャルバーガーセットなら具材とバンズを別々に持ち帰り、お家で出来たてバーガーを楽しむこともできます。ちょっとしたホームパーティにもおすすめです。

  div.burger-sub
    img(src="img/coffee.jpg", alt="")
    p モーニングセットのドリンクメニューでは暖かいカプチーノも用意されています。 