doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title サンプル
    meta(name="viewport" content="width=device-width")
    script(defer="" src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,900" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700" rel="stylesheet")

    link(rel="stylesheet" href="style.scss")
    link(rel="stylesheet" href="a.scss")
    link(rel="stylesheet" href="3b.scss")
  body.page
    block content
    script(src="main.js")
